In [1]:
age = 15
type(age)

int

In [2]:
height = 5.11
type(height)
print(type(height))

<class 'float'>

In [4]:
name = "John Doe"
type(name)
print(type(name))

<class 'str'>

In [5]:
is_true = True
type(is_true)
print(type(is_true))

<class 'bool'>

In [7]:
a = 10
b = 10
print(type(a is b))
print(type(a == b))

<class 'bool'>
<class 'bool'>

In [ ]:
results = "Hello" + 5
print(results)

TypeError: can only concatenate str (not "int") to str

In [9]:
results = "Hello" + str(5)
print(results)

Hello5